<div ng-include="'partials/navbar'"></div>

<table class="table table-striped table-condensed table-hover" style="font-size: 12px;">
  <thead>
      <tr>
          <th>dateReceived</th>
          <th>ipFrom</th>
          <th>from</th>
          <th>to</th>
          <th>subject</th>
          <th>message</th>
      </tr>
  </thead>
  <tbody>
      <tr ng-repeat="mail in getMails">
          <td>{{mail.dateReceived}}</td>
          <td>{{mail.ipFrom}}</td>
          <td>{{mail.from}}</td>
          <td>{{mail.to}}</td>
          <td>{{mail.subject}}</td>
          <td>{{mail.message}}</td>
      </tr>
  </tbody>
</table>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
